@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-background-300: 64, 68, 73;
	--color-background-400: 34, 37, 42;
	--color-background-500: 21, 24, 32;

	--color-foreground-700: 255, 255, 255;
	--color-contrast: 107, 54, 143;

	background-color: rgb(var(--color-background-500));
	color: rgb(var(--color-foreground-700));
	font-family: 'Poppins';
}
