name: Check

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [21.x]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up SvelteKit on Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Cache Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ github.event.pull_request.number }}-

      - name: Install Dependencies
        run: npm ci

      - name: Set up .env
        run: cp .env.example .env

      - name: Set up .env
        run: cp .env.example .env

      - name: Svelte check
        run: npm run check

      - name: Format
        run: npm run format && git diff --exit-code

  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 21.x

      - name: Install Dependencies
        run: npm ci

      - name: Run Lint
        run: npm run lint && git diff --exit-code
